body {
  font-family: Arial, sans-serif;
  background: #3a3939;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-container {
  background: rgb(97, 73, 73);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 8px;
  margin: 10px;
  border: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
}
.edit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 2px 6px;
  margin-left: 5px;
  cursor: pointer;
}

.edit-input {
  width: 100%;
  padding: 4px;
  font-size: 14px;
}
